body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url(img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    min-height: 200px
}

header button {
    padding: 20px;
    background-color: blue;
    color: white;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 15px;
}


nav,
footer {
    background-color: blue;
}

li a {
    color: chocolate;
    text-decoration: none;
}

#seccion_contenido img {
    width: 100%;
}

footer form label {
    display: inline-block;
}

li {
    list-style: none;
}

footer form input[type="submit"] {
    width: 100px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

@media screen and (max-width:767px) {
    header button {
        padding: 10px;
    }

    li {
        text-align: center;
        padding: 10px;
    }

    #seccion_contenido {
        padding: 50px;
    }

    footer h2 {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    #seccion_footer2 img {
        width: 100px;
    }

    footer form {
        display: flex;
        flex-direction: column;
        padding: 10px 100px;
        background-color: white;
        text-align: center;
    }

    footer form label {
        width: 100%;
    }

    footer form input[type="submit"] {
        background-color: blue;
        color: chocolate;
        /*margin 0 auto centra el contenido*/
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) {
    header button {
        padding: 10px 100px;
    }

    nav li,
    #seccion_footer2 li {
        display: inline-block;
        padding: 20px;
    }

    #seccion_contenido,
    footer,
    #seccion_footer2 ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #seccion_contenido article {
        padding: 50px;

    }

    footer form label {
        padding: 100px;
    }

    footer form input[type="submit"] {
        background-color: white;
    }


}