/*Ejercicio 5*/


body {
    font-family: serif;
}

p {
    margin: 10px 0;

}

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: white;
}

.caja img {
    width: 90px;
    display: block;
    margin: 0 auto;
}

.caja-1 {
    background-color: black;
    grid-area: 1/1/2/4;
    text-align: left;
}

.caja-1 span {
    color: #a1e1e1;
}

.caja-2 {
    background-color: #1f5dc6;
    grid-area: 1/4/2/5;
    text-align: center;
}

.caja-3 {
    grid-area: 1/5/2/6;
    background-image: url(Imagenes/persona.jpg);
    background-size: cover;
    background-position: center;
}

.caja-4 {
    grid-area: 2/1/3/2;
    background-image: url(Imagenes/teclado.jpg);
    background-size: cover;
    background-position: center;
}

.caja-5 {
    background-color: #4182f2;
    grid-area: 2/2/3/3;
    text-align: center;
}

.caja-6 {
    background-color: #5ec7f8;
    grid-area: 2/3/3/4;
    text-align: center;
}

.caja-7 {
    grid-area: 2/4/3/5;
    background-image: url(Imagenes/all.jpg);
    background-size: cover;
    background-position: center;
}

.caja-8 {
    background-color: #f8f85e;
    grid-area: 2/5/3/6;
    text-align: center;
}

.caja-9 {
    background-color: #f8f85e;
    grid-area: 3/1/4/3;
    text-align: center;
    background-image: url(Imagenes/empleo.jpg);
    background-size: cover;
    background-position: center;
}

.caja-9 p {
    padding: 3px 30px;
    background-color: rgba(42, 116, 236, 0.429);
    font-size: 32px;
}

.caja-10 {
    background-color: #1f5dc6;
    grid-area: 3/3/4/4;
    text-align: center;
}

.caja-11 {
    background-color: #f8f85e;
    grid-area: 3/4/4/6;
    text-align: center;
    background-image: url(Imagenes/redes.jpg);
    background-size: cover;
    background-position: center;
}

.caja-11 p {
    padding: 3px 30px;
    background-color: rgba(42, 116, 236, 0.429);
    font-size: 32px;
}