.carta {
  animation: aparecer 2s linear ;


  transition: transform 0.3s ease;
}

.carta:hover {
  transform: scale(2);
}

@keyframes aparecer {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
