.animated-button {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    animation: buttonAnimation 2s linear ;
    animation-fill-mode: forwards; 
}

@keyframes buttonAnimation {
    0% {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        color: trasparent;
    }
    25% {
        height: 100px;
    }
    50%{
        height:100px;
        width:200px;
    }
    75%{
        color:white;
        height:100px;
        width:200px;
    }
    100%{
        color:red;
        height:100px;
        width:200px;
    }
   
}
