.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}

.div1 {
    grid-area: 1/4/1/1;
}

.div2 {
    grid-area: 2/1/4/2;
}

.container>div {
    background-color: darkcyan;
    color: white;
    text-align: center;
}