.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}

.container div:first-child {
    grid-column: 1/4;
}

.div2 {
    grid-row: 2/4;
}

.container>div {
    background-color: darkcyan;
    color: white;
    text-align: center;
}