body {
    color: white;
    background-color: black;
    text-align: center;
}

div {
    margin: 5px;
}

.mar {
    background-color: rgb(37, 107, 182);
    grid-column-start: 1;
    grid-column-end: 3;
}

.exi {
    background-color: rgb(255, 179, 0);
    grid-column-start: 3;
    grid-column-end: 5;
}

.nos {
    background-color: rgb(24, 16, 238);
}



.tes,
.con {
    background-color: rgb(255, 179, 0);
}

.blo {
    background-color: rgb(67, 95, 206);
}

.ser {
    background-color: hsl(207, 87%, 73%);
    grid-column-start: 2;
    grid-column-end: 4;
}

.red {
    background-color: black;
}

.cli {
    background-color: rgb(37, 107, 182);
}

main {
    display: grid;
    width: 95vw;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr auto;
    height: 90vh;
}

/*
body {
    background-color: black;
    color: white;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr) auto;
    gap: 10px;
}
    */